/* ThemeREX Addons
------------------------------------------------------------------------------------ */

.sc_content_width_1_1 {	width: 1170px; }
.sc_content_width_1_2 {	width: 585px; }
.sc_content_width_1_3 {	width: 390px; }
.sc_content_width_2_3 {	width: 780px; }
.sc_content_width_1_4 {	width: 292.5px; }
.sc_content_width_3_4 {	width: 877.5px; }

/* Grid */
.trx_addons_container, .trx_addons_container-fluid {
	padding-left:  15px;
	padding-right: 15px;
}
.trx_addons_columns_wrap {
	margin-right: -30px;
}
.trx_addons_columns_wrap > [class*="trx_addons_column-"] {
	padding-right: 30px;
}
.trx_addons_columns_wrap.columns_padding_left {
    margin-left: -30px;
}
.trx_addons_columns_wrap.columns_padding_left > [class*="trx_addons_column-"],
.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_left {
	padding-left: 30px;
}
.trx_addons_columns_wrap.columns_padding_right {
	margin-right: -30px;
}
.trx_addons_columns_wrap.columns_padding_right > [class*="trx_addons_column-"],
.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_right {
	padding-right:30px;
}
.trx_addons_columns_wrap.columns_padding_center {
	margin-left: -15px;
	margin-right: -15px;
}
.trx_addons_columns_wrap.columns_padding_center > [class*="trx_addons_column-"],
.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_center {
	padding-left:30px;
}
.trx_addons_columns_wrap.columns_padding_bottom > [class*="trx_addons_column-"],
.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_bottom {
	padding-bottom: 30px;
}

.trx_addons_scroll_to_top {
	border: none;
}


.menu_style_right .trx_addons_scroll_to_top {
	right: 7rem;
}


/* Layouts
---------------------------------------------- */
.menu_style_left .sc_layouts_row_fixed_on {
	padding-left: 6rem;
}
.menu_style_right .sc_layouts_row_fixed_on {
	padding-right: 6rem;
}
.header_position_under .top_panel .wpb_row {
	background-color: transparent !important;
}

.top_panel.with_bg_image .sc_layouts_row {
	background-color:transparent !important;
}

.remove_margins .sc_layouts_title,
.top_panel.with_bg_image .sc_layouts_title {
	margin-bottom: 2rem;
}


/* Search field inside content */
.content .search_wrap {
	max-width:50%;
	margin:0;
}
.post_item_none_search .search_wrap,
.post_item_none_archive .search_wrap {
	max-width:none;
}
.content .search_wrap .search_form_wrap {
	width: 100%;
}
.content .search_wrap .search_form_wrap .search_field {
	width:100%;
}
.content .search_wrap .search_submit {
	background-color:transparent;
}
.post_item_none_search .search_wrap .search_field,
.post_item_none_archive .search_wrap .search_field {
	padding: 1.2em 3em 1em 1em;
}
.post_item_none_search .search_wrap .search_submit,
.post_item_none_archive .search_wrap .search_submit {
	left: auto;
	right: 0;
	top: 0;
	padding: 0 1em;
}
.content .search_wrap .search_results {
	width:100%;
}


/* Headers layouts
---------------------------------------------- */
.sc_layouts_item_details_line1 {
	font-weight:300;
}
.sc_layouts_item_details_line2 {
	font-weight: 700;
	font-size: 0.929rem;
	line-height: normal;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.sc_layouts_row_type_narrow .sc_layouts_item {
	font-size: 0.8667em;
	line-height:1.4615em;
	letter-spacing:0;
}
.sc_layouts_row_type_compact .sc_layouts_item,
.sc_layouts_row_type_normal .sc_layouts_item {
	letter-spacing:0;
}

.sc_layouts_menu_nav li[class*="columns-"] li.menu-item-has-children > a {
	font-weight:600;
	font-size: 1.0769em;
}


/* Slider
---------------------------------------------- */

/* Pagination */
.slider_swiper .swiper-pagination-bullet,
.slider_swiper_outer .swiper-pagination-bullet {
	border: none;
	background-color: rgba(255, 255, 255, 0.5);
	width: 7px;
	height: 7px;
}
.slider_swiper.slider_pagination_pos_bottom .swiper-pagination-bullet, .slider_swiper_outer.slider_outer_pagination_pos_bottom .swiper-pagination-bullet, .slider_swiper_outer.slider_outer_pagination_pos_bottom_outside .swiper-pagination-bullet{
	margin-right: 15px;
}
.sidebar .slider_pagination_pos_bottom > .swiper-pagination,
.sidebar .slider_outer_pagination_pos_bottom > .swiper-pagination {
	bottom: 0.5em;
}
.sidebar .slider_swiper .swiper-pagination-bullet,
.sidebar .slider_swiper_outer .swiper-pagination-bullet {
	width: 8px;
	height: 8px;
}

/* Controls */
.sidebar .slider_swiper_outer .slider_controls_wrap,
.sidebar .slider_swiper.slider_controls_side .slider_controls_wrap {
	display:none;
}
.sc_slider_controls .slider_controls_wrap > a,
.slider_swiper.slider_controls_side .slider_controls_wrap > a,
.slider_outer_controls_side .slider_controls_wrap > a,
.slider_outer_controls_top .slider_controls_wrap > a,
.slider_outer_controls_bottom .slider_controls_wrap > a {
	width: 4.2em;
	height: 2.8em;
	line-height: 2.8em;
}
.slider_swiper.slider_controls_side .slider_controls_wrap > .slider_prev,
.slider_outer_controls_side .slider_controls_wrap > .slider_prev {
	opacity: 0;
	margin-left: -100px;
	left: 0;
}
.slider_swiper.slider_controls_side .slider_next,
.slider_outer_controls_side .slider_controls_wrap > .slider_next {
	opacity: 0;
	margin-right:-100px;
	right: 0;
}
.slider_swiper.slider_controls_side:hover .slider_controls_wrap > a,
.slider_outer_controls_side:hover + .slider_controls_wrap > a {
	opacity: 1;
	margin-left:0;
	margin-right:0;
}

.sc_slider_controls .slider_controls_wrap > a:before,
.slider_swiper.slider_controls_side .slider_controls_wrap > a:before,
.slider_outer_controls_side .slider_controls_wrap > a:before,
.slider_outer_controls_top .slider_controls_wrap > a:before,
.slider_outer_controls_bottom .slider_controls_wrap > a:before {
	font-family:'fontello';
	font-size:1.6em;
}
.sc_slider_controls .slider_controls_wrap > .slider_prev:before,
.slider_swiper.slider_controls_side .slider_controls_wrap > .slider_prev:before,
.slider_outer_controls_side .slider_controls_wrap > .slider_prev:before,
.slider_outer_controls_top .slider_controls_wrap > .slider_prev:before,
.slider_outer_controls_bottom .slider_controls_wrap > .slider_prev:before {
	content: '\e939';
}
.sc_slider_controls .slider_controls_wrap > .slider_next:before,
.slider_swiper.slider_controls_side .slider_controls_wrap > .slider_next:before,
.slider_outer_controls_side .slider_controls_wrap > .slider_next:before,
.slider_outer_controls_top .slider_controls_wrap > .slider_next:before,
.slider_outer_controls_bottom .slider_controls_wrap > .slider_next:before {
	content: '\e93a';
}

.slider_style_modern .slider_controls_label span:first-child {
	font-style: italic;
	letter-spacing: 0;
}
.sc_slider_controller .slider_swiper_outer.slider_outer_controls_side .slider_controls_wrap > a,
.slider_style_modern .slider_swiper.slider_controls_side .slider_controls_wrap > a,
.slider_style_modern.slider_outer_controls_side .slider_controls_wrap > a {
	opacity: 1;
}


.header_widgets_wrap .slider_swiper .slide_overlay.slide_overlay_large {
	background-color: transparent;
}
.slider_swiper.slider_titles_center .slide_info.slide_info_large {
	padding:3em 2em;
	width: 50%;
}
.header_widgets_wrap .slider_swiper.slider_titles_center:not(.slider_multi) .slide_info.slide_info_large {
	width: 18em;
}

.sidebar .slider_swiper.slider_multi .slide_info:not(.slide_info_large),
.sidebar .slider_swiper .slide_info:not(.slide_info_large) {
	bottom: 8px;
}

.slider_swiper .slide_info {
	line-height:1.3em;
}

.slider_swiper .slide_info.slide_info_large .slide_cats {
	color: transparent !important;
}
.slider_swiper .slide_info.slide_info_large .slide_cats a {
	font-size: 0.8667em;
	line-height:1.7333em;
	font-weight: 500;
	text-transform:uppercase;
}
.slider_swiper .slide_info.slide_info_large .slide_title {
	font-size: 1.4em;
	font-weight:400;
	line-height:1.5em;
	text-transform:uppercase;
	letter-spacing:2px;
	margin: 0.5em 0;
}
.slider_swiper .slide_info.slide_info_large .slide_date {
	font-size:0.9333em;
	font-style:italic;
}
.sidebar .slider_swiper.slider_multi .slide_title,
.sidebar .slider_swiper .slide_info:not(.slide_info_large) .slide_title {
	font-size: 1em;
}
.sidebar .slider_swiper.slider_multi .slide_date,
.sidebar .slider_swiper .slide_info:not(.slide_info_large) .slide_date {
	font-size: 12px;
	line-height:16px;
}

.slider_titles_outside_wrap .slide_cats,
.slider_titles_outside_wrap .slide_subtitle {
	font-style: italic;
	letter-spacing:0;
}

.sc_slider_controller_info {
	font-size: 1.3333em;
	line-height:1.2em;
	font-weight:normal;
	font-style:normal;
	letter-spacing:0;
	width: 85%;
}
.sc_slider_controller_titles .sc_slider_controller_info {
	text-transform: uppercase;
}
.sc_slider_controller_thumbs .sc_slider_controller_info {
	font-size: 1.2em;
	line-height:1.2em;
	display:none;
}
.sc_slider_controller_thumbs .sc_slider_controller_info_number {
	color: #ccc;
}
.sc_slider_controller_thumbs .sc_slider_controller_info_title {
	color: #fff;
}



/* Widgets
---------------------------------------------- */
.footer_wrap .sc_layouts_row {
	line-height: 1.7857em;
}

.footer_wrap .sc_layouts_item {
	margin-top: 0;
	margin-bottom: 0;
}

.widget.widget_bg_image {
	padding: 2em 1.5em !important;
}
.widget.widget_bg_image * {
	color: #aaa !important;
}
.widget.widget_bg_image .widget_title,
.widget.widget_bg_image .widget_content a {
	color: #ddd !important;
}
.widget.widget_bg_image .widget_title,
.widget.widget_bg_image .widget_content a:hover {
	color: #fff !important;
}

/* About Me */
.widget_aboutme .aboutme_avatar img {
	width:100%;
	height: auto;
}
.widget_aboutme .aboutme_username {
	text-align:left;
	font-size:1em;
}
.widget_aboutme .aboutme_description {
	margin-top: 1em;
	text-align:left;
	line-height: 1.6em;
}

/* Audio */
.mejs-controls .mejs-button button:focus {
    outline: none !important;
}

.format-audio .post_featured.without_thumb .post_audio:not(.with_iframe),
.post_featured .post_audio,
.trx_addons_audio_player {
	padding: 0.7em 1.2em;
}
.post_featured .post_audio,
.sidebar .trx_addons_audio_player,
.footer_wrap .trx_addons_audio_player,
.trx_addons_audio_player.with_cover {
	padding:0.8em 1em;
}
.trx_addons_audio_player.without_cover {
	border: 1px solid #ddd;
	background-color:transparent;
	max-width: 570px;
}
.post_audio .audio_author,
.trx_addons_audio_player .audio_author {
	font-size: 1em;
	font-weight: 400;
	font-style:italic;
	margin-left: 0;
	margin-right:0;
	text-transform:none;
}
.post_audio .audio_caption,
.trx_addons_audio_player .audio_caption {
	font-size: 1em;
	font-weight:400;
	line-height:1.35em;
	letter-spacing:1px;
	text-transform:none;
}
.vc_row .trx_addons_audio_player .audio_caption {
	font-size: 1.3333em;
	line-height:1.35em;
}
.trx_addons_audio_player .audio_author + .audio_caption {
	margin:-0.6em 0 0.25em;
}

.post_audio .mejs-container .mejs-controls .mejs-time,
.trx_addons_audio_player .mejs-container .mejs-controls .mejs-time {
	font-size: 1em !important;
	font-weight: normal;
}
.sidebar .trx_addons_audio_player .mejs-container .mejs-controls .mejs-time,
.footer_wrap .trx_addons_audio_player .mejs-container .mejs-controls .mejs-time {
	display:none;
}

.post_audio .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.post_audio .mejs-controls .mejs-time-rail .mejs-time-total,
.post_audio .mejs-controls .mejs-time-rail .mejs-time-buffering,
.post_audio .mejs-controls .mejs-time-rail .mejs-time-loaded,
.post_audio .mejs-controls .mejs-time-rail .mejs-time-current,
.post_audio .mejs-controls a.mejs-horizontal-volume-slider,
.post_audio .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.post_audio .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.trx_addons_audio_player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.trx_addons_audio_player .mejs-controls .mejs-time-rail .mejs-time-total,
.trx_addons_audio_player .mejs-controls .mejs-time-rail .mejs-time-buffering,
.trx_addons_audio_player .mejs-controls .mejs-time-rail .mejs-time-loaded,
.trx_addons_audio_player .mejs-controls .mejs-time-rail .mejs-time-current,
.trx_addons_audio_player .mejs-controls a.mejs-horizontal-volume-slider,
.trx_addons_audio_player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.trx_addons_audio_player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	height: 4px !important;
}

.mejs-controls a.mejs-horizontal-volume-slider {
	margin-top: 4px !important;
}


.post_audio .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total:before, .post_audio .mejs-controls .mejs-time-rail .mejs-time-total:before,
.trx_addons_audio_player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total:before, .trx_addons_audio_player .mejs-controls .mejs-time-rail .mejs-time-total:before{
    background-color: rgba(255, 255, 255, 0.1);
}

.mejs-container .mejs-controls .mejs-button.mejs-playpause-button,
.post_audio .mejs-container .mejs-controls .mejs-playpause-button,
.trx_addons_audio_player .mejs-container .mejs-controls .mejs-playpause-button{
	border: 2px solid;
	font-size: 20px;
	width: 41px;
	height: 41px;
	line-height: 37px;
	margin-top: 0 !important;
	box-sizing: border-box;
}

.post_audio .audio_frame,
.trx_addons_audio_player .audio_frame {
    overflow: visible;
}

.post_audio .mejs-container:not(.mejs-video),
.format-audio .post_featured > div .mejs-controls {
    height: 44px !important;
    border: none !important;
}
.format-audio .post_featured > div .mejs-controls {
	top:0;
}
.mejs-container .mejs-controls .mejs-volume-button {
	font-size: 1.2em;
}
.post_audio .mejs-container .mejs-controls .mejs-volume-button{
    margin-top: 8px !important;
}
.post_audio .mejs-controls a.mejs-horizontal-volume-slider {
    margin-top: 4px !important;
}
.sidebar .mejs-container .mejs-controls .mejs-button.mejs-playpause-button,
.post_format_audio .mejs-container .mejs-controls .mejs-button.mejs-playpause-button{
	width: 36px;
	height: 36px;
	line-height: 33px;
	margin-top: 2px !important;
}

/* Most Popular */
.widget .trx_addons_tabs .trx_addons_tabs_titles li {
	font-size: 12px;
	font-weight:400;
	font-style:normal;
	line-height: 1.3em;
	text-transform:uppercase;
	letter-spacing:0;
}
.widget .trx_addons_tabs .trx_addons_tabs_titles li:after {
	display:none !important;
}
.widget .trx_addons_tabs .trx_addons_tabs_titles li + li {
	margin-left:0.5em;
}
.widget .trx_addons_tabs .trx_addons_tabs_titles li a {
	padding: 0.3em 0.5em;
}

/* Categories list */
.widget_categories_list[class*="column-"] [class*="column-"],
.sidebar .widget_categories_list [class*="column-"] {
	width:100%;
	float:none;
	overflow:hidden;
}
.widget_categories_list[class*="column-"] [class*="column-"]+[class*="column-"],
.sidebar .widget_categories_list [class*="column-"]+[class*="column-"] {
	margin-top:0.5em;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_item,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_item {
	text-align:left;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_image,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_image {
	display:inline-block;
	width: 20%;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_image img,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_image img {
	width: 100%;
	height: auto;
}
.widget_categories_list[class*="column-"] .categories_list_style_1 .categories_list_title,
.sidebar .widget_categories_list .categories_list_style_1 .categories_list_title {
	display:inline-block;
	width: 70%;
	margin: 0;
	font-size:1em;
	padding-left: 1em;
	text-align:left;
	text-transform:none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* Recent News + Shortcode Recent News */
body.expand_content .sc_recent_news_style_news-announce .post_size_full { height: 656px; }
body.expand_content .sc_recent_news_style_news-announce .post_size_big { height: 328px;  }
body.expand_content .sc_recent_news_style_news-announce .post_size_medium,
body.expand_content .sc_recent_news_style_news-announce .post_size_small { height: 164px;  }
.sc_recent_news .post_counters .post_counters_edit a {
	background-color:transparent !important;
}
.sidebar .sc_recent_news .post_item .post_title,
.footer .sc_recent_news .post_item .post_title {
	font-size: 1em;
}
.sidebar .sc_recent_news .post_item .post_content,
.footer .sc_recent_news .post_item .post_content {
	font-size: 0.8667em;
	line-height:1.3846em;
}
.sc_recent_news .post_accented_off .post_featured.with_thumb .post_video_hover {
	font-size: 1.2em;
}
.sc_recent_news .post_accented_off .slider_controls_wrap {
	display:none;
}
.sc_recent_news .post_accented_off .slider_pagination_wrap {
	bottom: 0;
}
.sc_recent_news .post_accented_off .slider_pagination_wrap .swiper-pagination-bullet {
	width: 6px;
	height: 6px;
	margin-right:3px;
}

/* Recent posts & Most Popular posts & Search Results */
.widget_area .post_item,
.widget .post_item {
	overflow:hidden;
	text-align:left;
	margin-bottom: 0;
	position:relative;
	background-color: transparent !important;
	font-size: 1.143em;
}
.widget .post_item + .post_item {
	margin-top:1.6em;
	padding-top: 0;
	border-top: none;
}
.search_results.widget_area .post_item + .post_item {
	border-top:1px solid #e5e5e5;
	margin-top:1.6em;
	padding-top:1.6em;
}
.widget_area .post_item .post_content,
.widget .post_item .post_content {
	overflow:hidden;
}
.widget_area .post_item .post_thumb,
.widget .post_item .post_thumb {
	float:left;
	width: 5rem;
	height: 5rem;
	margin:0 1em 4px 0;
	overflow:hidden;
}
.widget_area .post_item .post_thumb img,
.widget .post_item .post_thumb img {
	width:100%;
}
.widget_area .post_item .post_title,
.widget .post_item .post_title {
	font-size: 1em;
	font-weight: 400;
	margin: -2px 0 4px 0;
	text-align:left;
}
.widget_area .post_item .post_info,
.widget .post_item .post_info {
	font-size: 1em;
	line-height: normal;
	margin-bottom:0;
}
.widget_area .post_item .post_info .post_info_item+.post_info_item:before,
.widget .post_item .post_info .post_info_item+.post_info_item:before {
	content: "";
	margin:0 0 0 5px;
}
.widget_area .post_item .post_categories,
.widget .post_item .post_categories {
	font-size:11px;
	font-weight:400;
	line-height:15px;
	text-transform:uppercase;
	margin-top:-2px;
	margin-bottom:1em;
	position:relative;
	padding-right:3em;
}
.widget_area .post_item .post_categories .post_info_counters,
.widget .post_item .post_categories .post_info_counters {
	position:absolute;
	right: 0;
	top: 0;
}

/* Socials */
.slider_engine_revo .widget_socials {
	width: 10em;
}
.slider_engine_revo .widget_socials .socials_wrap {
	text-align:left;
	min-width: 160px !important;
}
.slider_engine_revo .widget_socials .social_item {
	display:inline-block;
}
.slider_engine_revo .widget_socials .social_item + .social_item {
	margin-left:0.5em;
}
.slider_engine_revo .widget_socials .social_item span {
	background-color: transparent !important;
	width:auto;
	height:auto;
	font-size:13px !important;
	line-height:1.5em;
	display:inline;
	-webkit-border-radius: 0;
	    -ms-border-radius: 0;
			border-radius: 0;
}
.slider_engine_revo .widget_socials .social_item a {
	background-color: transparent;
	background: none;
}
.slider_engine_revo .widget_socials .social_item a:hover span {
	background-color: transparent;
}
.slider_engine_revo .widget_socials .social_item a:hover span:before {
	-webkit-transform: none;
	   -moz-transform: none;
	    -ms-transform: none;
	        transform: none;
}

/* Twitter */
.widget_twitter .widget_content ul {
	padding-left: 2em;
	list-style-type:none;
}
.widget_twitter .widget_content ul > li {
	position:relative;
	text-align: left;
}
.widget_twitter .widget_content ul > li+li {
	margin-top: 1.5em;
}
.widget_twitter .widget_content ul > li:before {
	position:absolute;
	z-index:1;
	display:inline-block;
	font-size:1.2em;
	font-style:normal;
	left:-1.5em;
	top: 0;
	background-color:transparent;
}
.widget_twitter .widget_content .sc_twitter_item .sc_twitter_item_icon {
	text-align: center;
	font-size:1.6em;
	font-style:normal;
	margin-bottom: 0.8em;
}
.widget_twitter .widget_content .sc_twitter_item a,
.widget_twitter .widget_content ul > li a {
	font-weight:normal;
}

/* Video */
.trx_addons_video_player.with_cover .video_hover {
	font-size:2.8em;
	width: 2.2em;
	height: 2.2em;
	line-height: 2.2em;
	border: none;
}
.trx_addons_video_player.with_cover .video_hover:before {
	content: '\e8ec';
	font-family:'fontello';
}
.widget_video .trx_addons_video_player.with_cover .video_hover {
	font-size: 2.4em;
}
.sidebar .trx_addons_video_player.with_cover .video_hover,
.footer_wrap .trx_addons_video_player.with_cover .video_hover {
	font-size: 1.8em;
}
.mobile_layout .trx_addons_video_player.with_cover .video_hover {
	opacity: 1;
	margin-top: 0;
}


/* CV Card
---------------------------------------------- */
body.trx_addons_cv {
	margin-left: 0;
	margin-right: 0;
}
.trx_addons_cv_header_letter {
	line-height: 0.75em;
}
.trx_addons_cv_header_letter,
.trx_addons_cv_header_text,
.trx_addons_cv_header_socials .social_item > a {
	text-shadow:none;
}
.trx_addons_cv_section_contacts input,
.trx_addons_cv_section_contacts textarea {
	-webkit-border-radius: 0 !important;
	    -ms-border-radius: 0 !important;
			border-radius: 0 !important;
}



/* Hover effects
---------------------------------------------- */
.trx_addons_hover_mask {
	left:0; top: 0;
	right: 0; bottom: 0;
}
.trx_addons_hover_content .trx_addons_hover_links a + a {
	margin-left:0.7em;
}

.trx_addons_hover_style_zoomin .trx_addons_hover_content .trx_addons_hover_title {
	display:none;
}



/* Shortcodes
---------------------------------------------- */


[class*="sc_button_hover_"]:not(.sc_button_bg_image) {
	-webkit-transition: color 0.3s ease !important, border-color 0.3s ease !important, background-position 0.3s ease !important, background-color 0 linear 0.3s !important;
	   -moz-transition: color 0.3s ease !important, border-color 0.3s ease !important, background-position 0.3s ease !important, background-color 0 linear 0.3s !important;
	    -ms-transition: color 0.3s ease !important, border-color 0.3s ease !important, background-position 0.3s ease !important, background-color 0 linear 0.3s !important;
	     -o-transition: color 0.3s ease !important, border-color 0.3s ease !important, background-position 0.3s ease !important, background-color 0 linear 0.3s !important;
	        transition: color 0.3s ease !important, border-color 0.3s ease !important, background-position 0.3s ease !important, background-color 0 linear 0.3s !important;
}

.sc_item_subtitle {
	font-size: 0.929rem;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	line-height:1.5em;
}
.sc_item_title {
	letter-spacing: normal;
	line-height: 1.32em;
}
h2.sc_item_title.sc_item_title_style_default:not(.sc_item_title_tag) {
	font-size: 3.214rem;
}
.sc_item_subtitle + .sc_item_title {
	margin-top: 0.31em;
}
.sc_item_descr {
	margin-bottom: 0;
}
.sc_item_title.sc_item_title_style_default{
	padding-bottom: 0.75em;
	margin-bottom: 1.23em;
	position:relative;
}
.sc_item_title.sc_item_title_style_default:before{
	content: '';
	background-color:  #dba860;
	width: 89px;
	max-width: 50%;
	height: 2px;
	position:absolute;
	bottom:0;
	left: 0;
	z-index:1;
}
.sc_item_title.sc_align_left.sc_item_title_style_default:before{
	left: 0;
}
.sc_item_title.sc_align_right.sc_item_title_style_default:before{
	left: auto;
	right: 0;
}
.sc_item_title.sc_align_center.sc_item_title_style_default:before{
	left: 0;
	right: 0;
	margin: auto;
}

/* Action */
.sc_action_item_default .sc_action_item_subtitle {
	font-size:2em;
	line-height:1.2em;
}
.sc_action_item_default .sc_action_item_subtitle + .sc_action_item_title {
	margin-top:0;
}

.sc_action_item_event.with_image .sc_action_item_inner {
	padding: 2.4em 2em; 
}
.sc_action_item_event .sc_action_item_image + .sc_action_item_subtitle {
	margin-top:0.8em;
}
.sc_action_item_event .sc_action_item_title {
	margin-top: 0;
	margin-bottom: 0.3em;
}
.sc_action_item_date {
	font-size: 1em;
	line-height: 1.3em;
	text-transform:uppercase;
	letter-spacing:1px;
	padding:0.8em 0;
	border-style:dotted;
}
.sc_action_item_description {
	letter-spacing:0;
}
.sc_action_item_info {
	font-size: 13px;
	font-weight:400;
	line-height: 1.3em;
	padding: 1em 0 0;
	letter-spacing:0;
	border-style:dotted;
}

.sc_action.sc_action_simple .sc_action_content{
    position: relative;
}
.sc_action.sc_action_simple .sc_action_item{
    position: static;
    max-width: 70%;
}
.sc_action.sc_action_simple .sc_action_item .sc_action_item_link{
    max-width: 30%;
    position: absolute;
    right: 0;
    top:0;
    padding: 1.8em 3.45em;
    margin-top: 2px;
}
.sc_action.inverse_colors .sc_action_item .sc_action_item_link{
    border: 2px solid;
    box-sizing: border-box;
}



/* Anchor */
.menu_side_inner #toc_menu {
	display:block;
}
.menu_side_icons #toc_menu {
	position:relative;
	left:0;
	top:0;
	margin:0;
}
.menu_side_icons .toc_menu_item .toc_menu_description,
.menu_side_inner > .toc_menu_item .toc_menu_description {
	font-size:1.0667em;
	line-height:1.3em;
	font-weight:bold;
	text-transform:uppercase;
	top: 1px;
}
.menu_side_inner > .toc_menu_item .toc_menu_description {
	top: 0;
}
.menu_side_icons .toc_menu_item:hover .toc_menu_description,
.menu_side_inner > .toc_menu_item:hover .toc_menu_description {
	margin-right:0;
}
.menu_side_icons .toc_menu_item .toc_menu_description:before,
.menu_side_inner > .toc_menu_item .toc_menu_description:before {
	content: ' ';
	display:inline-block;
	vertical-align:middle;
	height: 6rem;
}
.menu_side_icons .toc_menu_item .toc_menu_description span,
.menu_side_inner > .toc_menu_item .toc_menu_description span {
	display:inline-block;
	vertical-align:middle;
	padding: 0 3em;
	letter-spacing:3px;
	margin-top: 5px;
}
.menu_side_icons .toc_menu_item .toc_menu_icon,
.menu_side_inner > .toc_menu_item .toc_menu_icon {
	width: 100%;
	height: 6rem;
	line-height: 6rem;
	border-top: 1px solid #ddd;
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	    -ms-box-sizing: content-box;
	        box-sizing: content-box;
}
.menu_side_inner > .toc_menu_item .toc_menu_icon {
	border-top: none;
}
.menu_side_icons .toc_menu_item .toc_menu_icon:before,
.menu_side_inner > .toc_menu_item .toc_menu_icon:before {
	font-size:2rem;
	font-weight:normal;
	line-height:inherit;
}

.menu_side_dots #toc_menu .toc_menu_item .toc_menu_icon {
	text-align:center;
}
.menu_side_dots #toc_menu .toc_menu_item .toc_menu_icon:before {
	content: ' ';
	width: 5px;
	height: 5px;
	line-height:inherit;
	-webkit-border-radius: 50%;
	    -ms-border-radius: 50%;
			border-radius: 50%;
}
.menu_side_dots #toc_menu .toc_menu_item_active .toc_menu_icon:before {
	width: 9px;
	height: 9px;
}

.menu_style_left .toc_menu_item .toc_menu_description {
	left: -20em;
	right: auto;
}
.menu_style_left .toc_menu_item:hover .toc_menu_description {
	left: 100%;
	right: auto;
}

/* Blogger */
.sc_blogger_item_featured .post_featured {
	margin-bottom: 0;
}
.sc_blogger .sc_blogger_item .sc_blogger_post_meta {
	font-size: 13px;
	font-style: italic;
	font-weight: 400;
	line-height: 1.5em;
}
.sc_blogger .sc_item_button .sc_button_simple:before,
.sc_blogger .sc_item_button .sc_button_simple:after {
	top:2px;
}

.sc_blogger_default .sc_blogger_item {
	padding: 2.1429em;
}
.sc_blogger_default .sc_blogger_item .sc_blogger_item_content {
	left: 45%;
	width: 55%;
}
.sc_blogger_default .sc_blogger_item .sc_blogger_post_meta {
	margin-top:0.6em;
}
.sc_blogger_default .sc_blogger_item .sc_blogger_item_featured {
	margin-bottom:0;
}

.sc_blogger_classic .sc_blogger_item .sc_blogger_item_content {
	padding: 2.2em 2em 2.7em;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_post_meta {
	margin-top:0.4em;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_item_excerpt {
	margin-top:1.5em;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_item_excerpt_text {
	line-height:1.6em;
	max-height: 5em;
}
.sc_blogger_classic .sc_blogger_item .sc_blogger_item_excerpt_text p {
	margin:0;
}
.sc_blogger_classic .sc_blogger_item_button {
	margin-top:1.5em;
}
.sc_blogger_classic .sc_blogger_item .more-link {
	background-color: transparent;
}

.sc_blogger .sc_blogger_item .sc_blogger_item_title {
    font-size: 1.429rem;
}
.sc_blogger .sc_blogger_item .post_meta {
    margin-top:0;
    margin-bottom: 1em;
}


/* Button */
.sc_item_button a,
.sc_form button,
.sc_button,
.sc_price_link,
.sc_action_item_link {

}

.sc_button_simple {
	text-transform:uppercase;
	font-size:0.8667em;
	letter-spacing:1px;
}
.sc_button_simple:before,
.sc_button_simple:after {
	content:'\e93a';
	font-family:'fontello';
	top: 2px;
	font-style:normal;
}

.sc_item_button:not(.sc_services_item_button)  .sc_button_simple:not(.sc_button_bg_image) {
	background:none !important;
	background-color:transparent;
}
.sc_item_button:not(.sc_services_item_button) .sc_button_simple {
	font-style: normal;
	line-height:1.25em;
	border: none;
	padding: 0 1.8em 0 0 !important;
}
.sc_item_button .sc_button_simple:before,
.sc_item_button .sc_button_simple:after {
	font-style:normal;
	line-height:inherit;
	top:2px;
}


/* Courses */
.sc_courses_default .sc_courses_item_info {
	padding: 2em;
}
.sc_courses_default .sc_courses_item_date {
	letter-spacing: 0;
	font-style: italic;
}
.sc_courses_default .sc_courses_item_price {
	font-size:2em;
	margin-top:0.8em;
	min-height:1.2em;
}
.sc_courses_default .trx_addons_hover_content {
	text-align:left;
	padding: 2em;
	left:0;
	top:0;
	-webkit-transform:none;
	   -moz-transform:none;
	    -ms-transform:none;
	        transform:none;
}
.sc_courses_default .sc_courses_item .trx_addons_hover_mask {
	background-color: #000;
}
.sc_courses_default .trx_addons_hover_content .trx_addons_hover_title {
	background-color: transparent;
	padding: 0;
	margin:0;
	text-transform:none;
	font-size: 1.6667em;
}
.sc_courses_default .trx_addons_hover_content .trx_addons_hover_text {
	padding:0;
	margin-top:2em;
	font-style:normal;
}
.sc_courses_default .trx_addons_hover_content .trx_addons_hover_links a {
	margin-top: 3em;
	font-size: 12px;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:2px;
	padding:1.3em 1.9em;
}



/* Dishes */
.sc_dishes_default .sc_dishes_item_info {
	padding: 2.6em 3em;
	text-align:center;
}
.sc_dishes_default .sc_dishes_item_title {
	margin-top:0;
}
.sc_dishes_default .sc_dishes_item_subtitle {
	font-size: 0.8667em;
	line-height:1.5em;
	font-style:italic;
	letter-spacing:0;
	margin-top:0.1em;
}
.sc_dishes_default .sc_dishes_item_content {
	margin-top:1.6em;
	min-height:5.4em;
}
.sc_dishes_default .sc_dishes_item_button {
	margin:1.6em 0 0;
}

.sc_dishes_compact .sc_dishes_item_header {
	padding:2rem;
}
.sc_dishes_compact .sc_dishes_item_title {
	line-height:1.25em;
}
.sc_dishes_compact .sc_dishes_item_subtitle {
	font-size: 13px;
	line-height:16px;
}


/* Events */
.sc_events_item {
	height: 5.2632em;
}
.sc_events_item + .sc_events_item {
	margin-top: 1em;
}
.sc_events_button {
	text-align:center;
}
.sc_events_item_date {
	height: auto;
}
.sc_events_item_day {
	font-weight:200;
	margin-top:0.2em;
}
.sc_events_item_button {
	min-height:1.3em;
}
.sc_events_item_button:before,
.sc_events_item_button:after {
	position:absolute;
	left:0; top: 0;
	content:'\e93a';
	font-family:'fontello';
	font-size:0.9286em;
	-webkit-transition: all ease .3s;
	   -moz-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	     -o-transition: all ease .3s;
	        transition: all ease .3s;
}
.sc_events_item_button:after {
	left:-30px;
	opacity:0;
}
.sc_events_item:hover .sc_events_item_button:before {
	opacity:0;
	left: 30px;
}
.sc_events_item:hover .sc_events_item_button:after {
	opacity:1;
	left: 0;
}

.sc_events_detailed .sc_events_item_date,
.sc_events_detailed .sc_events_item_time,
.sc_events_detailed .sc_events_item_button {
	font-size:0.7368em;
	font-weight:700;
	line-height:1.3em;
	text-transform:uppercase;
}
.sc_events_detailed .sc_events_item_title {
	font-size:1.0526em;
	line-height:1.2em;
	font-weight:700;
	font-style:italic;
}
.sc_events_detailed .sc_events_item,
.sc_events_detailed .sc_events_item_date,
.sc_events_detailed .sc_events_item_button,
.sc_events_detailed .sc_events_item_title,
.sc_events_detailed .sc_events_item_time {
	-webkit-transition: all ease .3s;
	   -moz-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	     -o-transition: all ease .3s;
	        transition: all ease .3s;
}

.sc_events_detailed .sc_events_content .sc_events_item + .sc_events_item{
    margin-top:30px;
}
.sc_events_detailed.detailed_2 .sc_events_date_detalied:after{
    content:',';
    padding-right: 0.5em;
}


/* Form */
.sc_form form input.filled.trx_addons_field_error,
.sc_form form input.filled.trx_addons_field_error:hover,
.sc_form form input.filled.trx_addons_field_error:focus {
	color: #ff0000 !important;
	-webkit-box-shadow: none;
	    -ms-box-shadow: none;
			box-shadow: none;	
}

.sc_form .sc_form_info_item .sc_form_info_icon:before { font-family: 'fontello'; }
.sc_form .sc_form_info_item_address .sc_form_info_icon:before { content: '\e8fd'; }
.sc_form .sc_form_info_item_email .sc_form_info_icon:before { content: '\e8fa'; }
.sc_form .sc_form_info_item_phone .sc_form_info_icon:before { content: '\e8f5'; }

.sc_form button:after {
	content:' ';
}
.sc_form_default .sc_form_field_button:before {
	content:' ';
	display:block;
	width:100%;
	height: 0;
	clear:both;
}
.sc_form_default .sc_form_field_button {
	text-align:left;
}
.sc_form_modern .sc_form_field_button {
	text-align:center;
}
.sc_form_detailed button {
	display: block;
}

.sc_form_field_title {
	text-transform:none;
	font-size: 1.429rem;
	font-weight: 700;
	line-height:1.8em;
	margin-bottom: 0.5em;
}
label.required .sc_form_field_title:after {
	content:'*';
	display:inline-block;
	vertical-align:text-top;
	margin:-0.5em 0 0 0.5em;
	font-size:80%;
	color:#da6f5b;
}
.sc_form .sc_form_field_checkbox

[class*="sc_input_hover_"] input[type="text"],
[class*="sc_input_hover_"] input[type="number"],
[class*="sc_input_hover_"] input[type="email"],
[class*="sc_input_hover_"] input[type="password"],
[class*="sc_input_hover_"] input[type="search"],
[class*="sc_input_hover_"] select,
[class*="sc_input_hover_"] textarea {
	font-size:1em !important;
	font-weight: 400;
	font-style:normal;
	line-height:1.2em;
	letter-spacing:1px;
	padding: 1.4em 1.4em !important;
}
[class*="sc_input_hover_"] .sc_form_field_hover {
	font-size: 1em;
}
[class*="sc_input_hover_"] .sc_form_field_content {
	font-size: 1em;
	line-height:1.2em
}
[class*="sc_input_hover_"] label.required:after {
	display: none;
}
[class*="sc_input_hover_"] label.required .sc_form_field_content:after {
	font-size:110%;
}

.sc_input_hover_accent .sc_form_field_hover:before {
  	height: 3em;
}
.sc_input_hover_accent textarea + .sc_form_field_hover:before {
  	height: 9em;
}


.sc_input_hover_path .sc_form_field_content {
	padding-top:2em;
}
.sc_input_hover_path textarea + .sc_form_field_hover > .sc_form_field_content {
	padding-top:2em;
}
.sc_input_hover_path input:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_path textarea:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_path input.filled + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_path textarea.filled + .sc_form_field_hover > .sc_form_field_content {
	-webkit-transform: scale3d(0.875, 0.875, 1) translate3d(0, 2.8em, 0);
	    -ms-transform: scale3d(0.875, 0.875, 1) translate3d(0, 2.8em, 0);
	        transform: scale3d(0.875, 0.875, 1) translate3d(0, 2.8em, 0);
}
.sc_input_hover_path textarea:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_path textarea.filled + .sc_form_field_hover > .sc_form_field_content {
	-webkit-transform: scale3d(0.875, 0.875, 1) translate3d(0, 10em, 0);
	    -ms-transform: scale3d(0.875, 0.875, 1) translate3d(0, 10em, 0);
	        transform: scale3d(0.875, 0.875, 1) translate3d(0, 10em, 0);
}

.sc_input_hover_jump .sc_form_field_content:before {
	top: -190%;
}
.sc_input_hover_jump .sc_form_field_content {
	padding:1.5em;
}

.sc_input_hover_underline .sc_form_field_hover:before {
	height: 2px;
}
.sc_input_hover_underline input:focus + .sc_form_field_hover:before,
.sc_input_hover_underline textarea:focus + .sc_form_field_hover:before,
.sc_input_hover_underline input.filled + .sc_form_field_hover:before,
.sc_input_hover_underline textarea.filled + .sc_form_field_hover:before {
	-webkit-transform: scale3d(1, 1, 1);
	    -ms-transform: scale3d(1, 1, 1);
	        transform: scale3d(1, 1, 1);
}
.sc_input_hover_underline input:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_underline input.filled + .sc_form_field_hover > .sc_form_field_content {
	-webkit-transform: translate3d(0, 2.2em, 0) scale3d(0.875, 0.875, 1);
	    -ms-transform: translate3d(0, 2.2em, 0) scale3d(0.875, 0.875, 1);
	        transform: translate3d(0, 2.2em, 0) scale3d(0.875, 0.875, 1);
}
.sc_input_hover_underline textarea:focus + .sc_form_field_hover > .sc_form_field_content,
.sc_input_hover_underline textarea.filled + .sc_form_field_hover > .sc_form_field_content {
	height: 5.3em;
	-webkit-transform: translate3d(0, 6.2em, 0) scale3d(0.875, 0.875, 1);
	    -ms-transform: translate3d(0, 6.2em, 0) scale3d(0.875, 0.875, 1);
	        transform: translate3d(0, 6.2em, 0) scale3d(0.875, 0.875, 1);
}

.sc_input_hover_iconed .sc_form_field_hover {
    padding: 0.45em !important;
}

/* Googlemap */
.sc_googlemap_content .sc_form_default .sc_form_details {
	width:100%;
	float:none;
}
.sc_googlemap_content .sc_form_default .sc_form_details > div {
	width: 100%;
	padding-right:0;
}
.sc_googlemap_content .sc_form_default .sc_form_field_message {
	width: 100%;
	float:none;
	padding-left: 0;
}
.sc_googlemap_content .sc_form .sc_form_field input[type="text"],
.sc_googlemap_content .sc_form .sc_form_field textarea {
	padding:0.5em 1em;
}
.sc_googlemap_content .sc_form .sc_form_field textarea {
	min-height:3em;
}

.sc_googlemap_content_detailed p {
	margin-bottom:1em;
}



/* Icons */
.sc_icons .sc_icons_icon:before, .sc_icons .sc_icons_icon > span:before {
    font-size: 6em;
    line-height: 1.1em;
}
.sc_icon_type_svg svg {
	width: 6em;
	height: 6em;
}
.sc_icons_size_small .sc_icons_icon::before, .sc_icons_size_small .sc_icons_icon > span::before {
    font-size: 4em;
    line-height: 1.1em;
}
.sc_icons_size_small .sc_icon_type_svg svg {
	width: 4em;
	height: 4em;
}
.sc_icons_size_large .sc_icons_icon::before, .sc_icons_size_large .sc_icons_icon > span::before {
    font-size: 8em;
    line-height: 1.1em;
}
.sc_icons_size_large .sc_icon_type_svg svg {
	width: 8em;
	height: 8em;
}
.sc_icons .sc_icons_icon,
.sc_icons .sc_icons_item_title {
	-webkit-transition: all ease .3s;
	   -moz-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	     -o-transition: all ease .3s;
	        transition: all ease .3s;
}
.sc_icons_item_title {
	font-size: 1.2em;
	line-height:1.3em;
	font-weight:400;
	font-style: normal;
	text-transform:uppercase;
	letter-spacing:1px;
}
.sc_icons .sc_icons_image + .sc_icons_item_title,
.sc_icons .sc_icons_image + .sc_icons_item_description {
	margin-top:2em;
}
.footer_wrap .sc_icons .sc_icons_icon + .sc_icons_item_title {
	margin-top:1em;
	margin-bottom:2em;
}
.sc_icons_item_description {
	font-size: 1em;
	line-height: 1.6em;
	font-weight:400;
	font-style:normal;
}
.sc_icons_modern .sc_icons_item_description {
	font-size: 1.2em;
	line-height: 1.3em;
}
.sc_icons .sc_icons_item_title + .sc_icons_item_description {
	margin-top:0.7em;
}

/* Price */
.sc_price_info {
	padding: 6.8em 1.5em 4.8em;
	text-align:center;
}
.sc_price_subtitle {
	font-size: 1em;
	line-height: 1.3em;
	font-weight: normal;
	text-transform:uppercase;
	letter-spacing: 1px;
	margin-bottom:0.5em;
}
.sc_price_title {
	font-size: 0.929rem;
	font-weight: 700;
	line-height:1.25em;
	text-transform:uppercase;
	letter-spacing: 0.35em;
}
.sc_price_description {
	font-size:1.0667em;
	font-weight:400;
	font-style:italic;
	line-height:1.25em;
	letter-spacing:0;
	margin:0.65em 0;
}
.sc_price_price {
	font-size: 1.786rem;
	font-weight: 700;
	line-height:1.25em;
	letter-spacing: normal;
	margin-top: 1.2rem;
}
.sc_price_decimals {
	text-decoration:none;
}
.sc_price_details {
	margin-top: 3.9em;
	padding-top: 3.9rem;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	line-height: inherit;
	letter-spacing: normal;
	position:relative;
}
.sc_price_details:before{
	content:"";
	background-color:  #dba860;
	width: 89px;
	max-width: 50%;
	height: 2px;
	position:absolute;
	top:0;
	left: 0;
	right: 0;
	margin:auto;
}
.sc_price_details ul{
	list-style-type:none;
	padding-left: 0;
	max-width: 230px;
	margin: auto;
}
.sc_price_details ul li+li{
	border-top:1px solid;
	margin-top: 15px;
	padding-top: 10px;
}
.sc_price_link:after {
	display:none;
}


/* Promo */
.sc_promo.sc_promo_size_tiny .sc_promo_image {
	margin: 0.5em;
}
.sc_promo_text blockquote {
	margin: 0 !important;
}
.sc_promo.sc_promo_size_normal .sc_promo_icon,
.sc_promo.sc_promo_size_large .sc_promo_icon {
	font-size: 7em;
	line-height: 1em;
	margin-bottom:0.14em;
}
.sc_promo_title + .sc_promo_content,
.sc_promo_subtitle + .sc_promo_content {
	margin-top: 1.8em;
}
.sc_promo_title + .sc_promo_subtitle {
	margin-top: 1.25em;
}
.sc_promo_button .sc_button_simple:before,
.sc_promo_button .sc_button_simple:after {
	top:4px;
}

.sc_promo.sc_promo_size_normal .sc_promo_text_inner {
	padding: 9.5em 9em 9em;
}
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_descr,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_descr,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_slider,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_slider,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_slider,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_columns,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_columns,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_columns,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_content,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_content,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_content {
	margin-top: 1.8em;
}
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_title + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_subtitle + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_descr + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_content + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_content + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_slider + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_slider + .sc_item_button_image,
.sc_promo.sc_promo_size_normal .sc_item_columns + .sc_item_button,
.sc_promo.sc_promo_size_normal .sc_item_columns + .sc_item_button_image {
	margin-top: 3.2em;
}

.sc_promo_modern .sc_promo_title {
	font-size:3.6667rem;
	line-height:1.1818em;
}
.sc_promo_modern .sc_promo_descr,
.sc_promo_modern .sc_promo_button {
	padding-left: 6.6rem;
}

.sc_item_title.sc_promo_title {
    font-size: 3.729rem;
    line-height: 1.2em;
    padding-bottom: 0.7em;
    margin-bottom: 0.6em;
}
.sc_item_title.sc_promo_title i{
	padding-left: 0.1em;
}
.sc_promo.sc_promo_size_normal .sc_promo_descr{
    font-size: 1em;
}
.sc_promo_default.sc_promo_size_normal .sc_promo_button .sc_button.sc_button_default.sc_button_size_normal{
	padding: 1.8em 3.45em;
}
.inverse_colors .sc_promo_button .sc_button.sc_button_default.sc_button_size_normal{
	border: 2px solid;
	box-sizing:border-box;
}

.sc_promo_size_small .sc_promo_text{
    padding-top: 3%;
    padding-bottom: 3%;
}
.sc_promo + .sc_promo {
    margin-top: -1px;
}
.sc_promo {
    padding-top: 0 !important;
}


/* Services */
.sc_services_default .trx_addons_hover_content .trx_addons_hover_title {
	font-size: 1.3333em;
}
.sc_services_default .sc_services_item_icon {
	margin-top: 0.8em;
}
.sc_services_default .sc_services_item_info {
	padding: 3.2em 3em 0;
	text-align:center;
}
.sc_services_default .sc_services_item_title {
	margin-top:0;
	position: relative;
	padding-bottom: 0.89em;
}
.sc_services_default .sc_services_item_title:before {
    content: '';
    background-color: #dba860;
    width: 89px;
    max-width: 50%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    margin:auto;
    z-index: 1;
}
.sc_services_default .sc_services_item_subtitle {
	letter-spacing: normal;
	margin-top:0.1em;
	font-size: 0.9286em;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	display: none;
}
.sc_services_default .sc_services_item_content {
	margin-top: 1.55em;
	min-height:5.4em;
}
.sc_services_default .sc_services_item_button {
	margin: 2.45em 0 0;
}

.sc_services_iconed .sc_services_item_icon {
	font-size:2.8em;
	line-height:1em;
}
.sc_services_iconed .sc_services_item_header {
	padding:2rem;
}
.sc_services_iconed .sc_services_item_title {
	font-size:1em;
	line-height:1.5em;
}
.sc_services_iconed .sc_services_item_subtitle,
.sc_services_iconed .sc_services_item_button {
	display:none;
}

.sc_services.without_featured .sc_services_item_number,
.sc_services.without_featured .sc_services_item_icon,
.sc_services.without_featured .sc_services_item_thumb,
.sc_services.without_button .sc_services_item_button{
    display:none;
}

.single-cpt_services .services_page_featured{
    margin-bottom: 1.5em;
}

/* Skills */
.sc_skills_counter .sc_skills_item_wrap {
	max-width:none;
}
.sc_skills .sc_skills_item_title {
	font-size:12px;
	line-height:16px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing:1px;
}
.vc_row.vc_inner .sc_skills_counter .sc_skills_column + .sc_skills_column:before {
	content:' ';
	position:absolute;
	left:0;
	top: 0;
	height: 100%;
	width: 1px;
}
.vc_row.vc_inner .sc_skills_counter .sc_skills_item_wrap {
	padding:3.4em 0 0 4em;
}

.sc_skills_counter .sc_skills_icon {
	font-size:4.2em;
	line-height: 1.15em;
}
.sc_skills_counter .sc_skills_total {
	font-weight:400;
	font-size: 3.3333em;
	line-height: 1.1em;
	margin:0;
}
.sc_skills_counter .sc_skills_icon+.sc_skills_total {
	margin-top:0.2em;
}
.sc_skills_counter .sc_skills_item_title {
	font-size:1.0667em;
	line-height:1.25em;
	font-style:italic;
	text-transform:none;
	letter-spacing:0;
}

.sc_skills_pie.sc_skills_compact_off .sc_skills_total {
	font-size: 2.857rem;
	font-weight: 400;
	line-height: 1.25em;
	font-style: italic;
	top: 46%;
	padding: 0 0.3em;
}
.sc_skills_pie.sc_skills_compact_off .sc_skills_item_title {
	font-size: 1.429rem;
	line-height:1.3em;
	font-weight: 700;
	letter-spacing: normal;
	margin-top: 0;
	text-transform:none;
}


/* Table */
.sc_table table th{
	padding: 1.2em 1em;
}
.sc_table table td {
	padding:1.8em 1em;
}

/* Testimonials */
.sc_testimonials_item_content {
	font-size: 1.1333em;
	line-height:1.8824em;
	font-weight:400;
	font-style:normal;
}
.sc_testimonials_item_content:before {
	content:'\e8b6';
	font-family:'fontello';
	margin-bottom:0.6em;
}
.sc_testimonials [class*="column"] .sc_testimonials_item_content {
	font-size: 1.144rem;
	line-height:1.4em;
}
.sc_testimonials_item_author {
	background-color: transparent;
	text-align:center;
	margin-top: 0;
	padding-top: 0.3em;
	padding-bottom: 2.4em;
	max-width:none;
}
.sc_testimonials_item_author_title {
	font-size: 1.0667em;
	font-style:italic;
	letter-spacing:0;
	text-transform:none;
}
.sc_testimonials_item_author_title + .sc_testimonials_item_author_subtitle {
	margin-top:0.1em;
}

.sc_testimonials_simple .sc_item_slider.slider_outer_pagination_pos_bottom {
    padding-bottom: 3.5em;
}
.sc_testimonials_simple.sc_testimonials [class*="column"] .sc_testimonials_item_author {
    text-align: center;
    padding-left: 0;
}
.sc_testimonials_simple [class*="column"] .sc_testimonials_item_author_data {
    border-left: none;
    padding-left: 0;
}
.sc_testimonials_simple.sc_testimonials [class*="column"] .sc_testimonials_item_content{
	max-width: 780px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.sc_testimonials_simple .sc_testimonials_item_content:before{
	display:none;
}
.sc_testimonials_simple .sc_testimonials_item_author_title{
	font-size:1.429rem;
	font-weight:700;
	font-style:normal;
}
.sc_testimonials_simple .sc_testimonials_item_author_data{
	max-width:100%;
}
.sc_testimonials_simple .sc_testimonials_item_author_title span{
	font-size:1rem;
	font-weight:400;
}


/* Team */
.sc_team_default .trx_addons_hover_content .trx_addons_hover_title {
	font-size: 1.3333em;
}



.sc_team_short .sc_team_item_subtitle,
.sc_team_featured .sc_team_item_subtitle {
	font-size: 1em;
	line-height: normal;
	font-style: normal;
	letter-spacing: normal;
	margin-top: 1.3em;
	text-align: center;
}
.sc_team_default .sc_team_item_content {
	margin-top:1.8em;
	min-height: 6em;
}
.sc_team_default .sc_team_item_socials .social_item {
	display:inline-block;
	margin: 0 3px 3px 0;
}
.sc_team_default .sc_team_item_socials .social_item a {
	display:block;
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.sc_team_default .sc_team_item_socials + .sc_team_item_button {
	display:none;
}
.sc_team_default .sc_team_item_button {
	margin:1.6em 0 0;
}
.sc_team_default .sc_team_item_socials .social_item {
	text-align: center;
}


.sc_team_default .sc_team_item {
	display: flex;
	width: 100%;
}
.sc_team_default .sc_team_default_item_thumb {
	display: block;
	width: 47.38%;	
	height: inherit; 
	background-position: center; 
	background-size: cover;
	margin-bottom: 0;
}
.sc_team_default .sc_team_item_info {
	width: 52.62%; 
    padding: 8% 6%;
    box-sizing: border-box;
}
.sc_team_default .sc_team_item_header{
	padding-bottom: 1.7em;
	position: relative;
}
.sc_team_default .sc_team_item_header:after {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	content: '';
	width: 80px;
	height: 1px;
	background-color: #dba860; 
}
.sc_team_default .sc_team_item_title {
	margin-top:0;
	font-size: 20px;
	line-height: 1em;

}
.sc_team_default .sc_team_item_subtitle,
.sc_team_default .sc_team_item_content {
	font-size: 14px;
}
.sc_team_default .sc_team_item_title + .sc_team_item_subtitle {
	margin-top: 1.3em;
}

.sc_team_default .sc_team_item_content + .sc_team_item_socials {
	margin-top: 1.9em;
}

.sc_team_default .trx_addons_column-1_4 {
	width: 50%;
}

.team_member_page .team_member_brief_info_text {
	letter-spacing:0;
}
.team_member_page .team_member_socials .social_item {
	display:inline-block;
	margin: 0 3px 3px 0;
}
.team_member_page .team_member_socials .social_item a {
	display:block;
	width: 2.4em;
	height: 2.4em;
	line-height: 2.4em;
}

.sc_team_short .sc_team_item_thumb{
    border: none;
    margin-bottom: 3.1em;
}
.sc_team_short .sc_team_item_title{
    font-size: 1.429rem;
    text-align: center;
}
.sc_team_short .sc_team_item_thumb .trx_addons_hover_mask{
	display:none;
}
.sc_team_short .sc_team_item_thumb .trx_addons_hover_content{
	top: auto;
	bottom: -1px;
	padding: 0;
	text-align: center;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	transform: none;
}
.sc_team_short .sc_team_item_thumb .trx_addons_hover_content .sc_team_item_socials{
	padding: 1.65em 1em 1.9em;
}
.sc_team_short .sc_team_item_thumb .trx_addons_hover_content .social_item a{
	font-size: 1.1em;
	width: 2.4em;
	height: 2.4em;
	line-height: 2.4em;
	border-width: 2px;
}


/* Layouts
---------------------------------------------- */

/* Header */
header.top_panel_default .sc_layouts_row_type_compact .menu_main_nav_area{
    margin-top:2px;
    margin-bottom: 2px;
}
.sc_layouts_menu_nav > li.menu-item-has-children > a, .sc_layouts_menu_nav > li > a {
    padding: 1.2em 1em;
}
.sc_layouts_menu_nav > li.item-menu-button > a {
    padding-left:3.1em;
    padding-right:3.1em;
    margin-left: 1em;
}
.top_panel_default .sc_layouts_menu_nav > li.menu-item-has-children > a:after{
	content:'';
}
.sc_layouts_row.sc_layouts_row_fixed_on .sc_layouts_logo img {
    max-height: 52px;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav, .sc_layouts_menu_nav > li ul{
	padding:0;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav > li > a, .sc_layouts_menu_nav > li li > a {
    padding: 1.3em 1em;
    text-align: center;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav, .sc_layouts_menu_popup .sc_layouts_menu_nav > li > ul, .sc_layouts_menu_nav > li > ul ul {
     top: 0;
}
.sc_layouts_menu_nav > li li+li {
	margin-top:2px;
}

.top_panel_title{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4.6em 0 5.8em;
}
.sc_layouts_title_caption {
    font-size: 3.214rem;
    line-height: normal;
}
.sc_layouts_column_align_flex .sc_layouts_item {
	width:100%;
}
.sc_layouts_column_align_flex .sc_layouts_item .sc_layouts_title{
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}
.sc_layouts_column_align_flex .sc_layouts_item .breadcrumbs{
    font-size: 0.929rem;
    line-height: 1.6;
    text-transform: uppercase;
}
.breadcrumbs .breadcrumbs_delimiter:before{
	content:'';
	padding: 0 0.5em;

}

/* Footer */
.socials_wrap{
	margin: -6px -6px 0 0;
}
.socials_wrap .social_item {
    margin: 6px 6px 0 0;
}

.footer_logo_and_socials  {
    padding: 4.85em 0 4.85em;
}
.footer_widgets_wrap + .footer_logo_and_socials{
	padding-top:2em;
}
body.body_style_boxed .footer_widgets_wrap + .footer_logo_and_socials{
    margin-bottom: 5.4rem;
}
.footer_logo_and_socials .footer_logo_wrap,
.footer_logo_and_socials .footer_socials_wrap{
	display:inline-block;
    vertical-align: top;
	width:50%;
}
.footer_logo_and_socials .footer_logo_inner,
.footer_logo_and_socials .footer_socials_inner{
    padding: 0;
    display: inline-block;
}
.footer_logo_and_socials .footer_socials_wrap{
    text-align:right;
    margin-top:1px;
}
.footer_logo_and_socials .footer_logo_inner img {
    max-width: 100%;
}

.footer_logo_and_socials .footer_copyright_inner {
    padding: 0.7em 0 0;
    text-align:left;
}
.widget_contacts .contacts_info {
    line-height: 1.6em;
}



.sc_button.sc_button_size_large{
    padding: 1.8em 3.5em 2.1em;
}
.sc_button.sc_button_size_small{padding: 0.7em 1.9em 0.8em;}

ol[class*="trx_addons_list"] > li+li,
ul[class*="trx_addons_list"] > li+li{
	margin-top: 8px;
}


/* Countdown Style Default */
.sc_countdown_default .sc_countdown_separator{
    display: inline-block;
    opacity: 0;
    width: 2.2rem;
    margin: 0;
}
.sc_countdown_default .sc_countdown_digits {
    font-size: 6.072rem;
    font-weight: 700;
    font-style: italic;
    height: auto;
    line-height: 1.3em;
    padding: 0 0.03em;
    margin-bottom: 4px;
}
.sc_countdown_default .sc_countdown_digits span {
    display:inline-block;
    text-align:center;
    width: 0.6em;
    background-color:transparent;
}
.sc_countdown_default .sc_countdown_digits span+span {
    margin-left:2px;
}
.sc_countdown .sc_countdown_label {
    font-weight: 700;
    font-size: 1.786rem;
}


.sc_item_title + .sc_item_button, .sc_item_title + .sc_item_button_image, .sc_item_subtitle + .sc_item_button, .sc_item_subtitle + .sc_item_button_image, .sc_item_descr + .sc_item_button, .sc_item_descr + .sc_item_button_image, .sc_item_content + .sc_item_button, .sc_item_content + .sc_item_button_image, .sc_item_slider + .sc_item_button, .sc_item_slider + .sc_item_button_image, .sc_item_columns + .sc_item_button, .sc_item_columns + .sc_item_button_image, .sc_item_descr + .sc_layouts_item {
    margin-top: 3.5em;
}

.sc_item_title + .sc_item_button.sc_events_button,
.sc_item_title + .sc_item_button_image.sc_events_button,
.sc_item_subtitle + .sc_item_button.sc_events_button,
.sc_item_subtitle + .sc_item_button_image.sc_events_button,
.sc_item_descr + .sc_item_button.sc_events_button,
.sc_item_descr + .sc_item_button_image.sc_events_button,
.sc_item_content + .sc_item_button.sc_events_button,
.sc_item_content + .sc_item_button_image.sc_events_button,
.sc_item_slider + .sc_item_button.sc_events_button,
.sc_item_slider + .sc_item_button_image.sc_events_button,
.sc_item_columns + .sc_item_button.sc_events_button,
.sc_item_columns + .sc_item_button_image.sc_events_button,
.sc_item_descr + .sc_layouts_item.sc_events_button {
    margin-top: 1.4em;
}

.sc_promo.sc_promo_size_small .sc_promo_button, .sc_promo.sc_promo_size_small .sc_promo_button_image {
    margin-top: 3.3em;
}

.sc_item_title + .sc_item_slider, .sc_item_subtitle + .sc_item_slider, .sc_item_descr + .sc_item_slider, .sc_item_title + .sc_item_columns, .sc_item_subtitle + .sc_item_columns, .sc_item_descr + .sc_item_columns, .sc_item_title + .sc_item_content, .sc_item_subtitle + .sc_item_content, .sc_item_descr + .sc_item_content {
    margin-top: 3.9em;
}


.trx_addons_video_player.with_cover:before{
	content: '\e8ec';
	font-family: 'fontello';
	font-size: 2.4em;
    width: 2em;
    height: 2em;
    line-height: 2em;
	border: 2px solid;
	position: absolute;
	z-index: 4;
	left: 50%;
	top: 50%;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-ms-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
	margin-top: 0;
	background-color: transparent;
	color: #fff;
}
.trx_addons_video_player.with_cover:hover:before {
    opacity:0;
}


.sc_layouts_row_fixed_placeholder{
    height: auto !important;
}

.sc_layouts_menu_nav > li.menu-item-has-children > a:after{
    display: none;
}

.sc_layouts_item_icon {
    font-size: 1em;
    line-height: normal;
}

.trx_addons_icon-menu:before {
	font-family: 'fontello';
	content: '\e8ba';
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
}