/* Tooltips */
.trx_addons_tooltip {
	border-bottom-style: solid;
}
.trx_addons_tooltip:before {
	font-size:1em;
	line-height:1.3em;
	padding: 0.6em 1em;
	-webkit-transform:translateX(-50%);
	   -moz-transform:translateX(-50%);
	    -ms-transform:translateX(-50%);
	        transform:translateX(-50%);
	-webkit-border-radius: 0 !important;
	    -ms-border-radius: 0 !important;
			border-radius: 0 !important;
}
.trx_addons_tooltip:after {
	margin-bottom:-8px;
	-webkit-transform:none;
	   -moz-transform:none;
	    -ms-transform:none;
	        transform:none;
}


/* Dropcaps */
.trx_addons_dropcap {
    padding: 0;
    margin: 0.25em 0.5em 0 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}
.trx_addons_dropcap_style_1 {
    font-size: 3.214rem;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
}
.trx_addons_dropcap_style_2 {
    font-size: 3.929rem;
    width: auto;
    height: auto;
    line-height: 1;
    margin-top: 0;
}

/* Tiny text */
.trx_addons_tiny_text {
	letter-spacing:2px;
}

/* Lists */
.trx_addons_list_parameters > li > strong,
.trx_addons_list_parameters > li > em {
	color:inherit;
}
.trx_addons_list_parameters > li > em {
	font-family:inherit;
}
