.sc_events_item {
	display:block;
	overflow:hidden;
	position:relative;
	background-color: transparent !important;
	height: auto !important;
}
.sc_events_item + .sc_events_item {
	margin-top: 1em;
}
.sc_events_item_date,
.sc_events_item_title,
.sc_events_item_button {
	position: static;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-ms-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
}
.sc_events_item_date {
	top: 0;
	left: 0;
	width: auto;
	height: 6.4286em;
	color: #292929;
	margin-top: 2.9em;
}
.sc_events_item_date,
.sc_events_item_date_detalied{
	font-size: 0.929rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.sc_events_item_date_detalied{
	padding-bottom: 0.75em;
}
.detailed_2 .sc_events_item_date_detalied{
	padding-bottom: 0;
	padding-top:0.3em;
}
.sc_events_default .sc_events_item_date {
	background-color: transparent;
	color: #fff;
}
.sc_events_default .sc_events_item:hover .sc_events_item_date {
	background-color: transparent;
}
.sc_events_item_day {
	display: block;
	font-size: 2em;
	line-height:1.5em;
	margin-top:0.5em;
}
.sc_events_item_month {
	font-size: 0.7143em;
	line-height:1.3em;
	text-transform:uppercase;
	display: block;
}
.sc_events_item_title {
	left: 8em;
	color: #292929;
	max-width: none;
	padding-right: 0;
	margin: 0.54em 0 0.7em;
}
.sc_events_item_title,
.sc_events_item_title_detalied{
	font-size: 1.429rem;
	font-weight: 700;
	line-height: 1.3em;
}
.sc_events_item:hover .sc_events_item_title {
	color:#efa758;
}
.sc_events_item_time {
	color: #888888;
}
.sc_events_item:hover .sc_events_item_time {
	color:#efa758;
}
.sc_events_item_title,
.sc_events_item_button {
	top: 50%;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	transform: none;
}
.sc_events_item_button {
	right: 3em;
	color: #292929;
	text-align:center;
}
.sc_events_item:hover .sc_events_item_button {
	color:#efa758;
}
.sc_events_item_button:before {
	content:'\e884';
	font-family:'trx_addons_icons';
}

/* Style 'Detailed' */
.sc_events_detailed .sc_events_item {
	background-color: transparent;
	border: none;
	white-space: normal;
	height:auto;
}
.sc_events_detailed .sc_events_item_date_wrap,
.sc_events_detailed .sc_events_item_time_wrap,
.sc_events_detailed .sc_events_item_title_wrap,
.sc_events_detailed .sc_events_item_button_wrap {
	position:relative;
	display:inline-block;
	vertical-align:top;
	height: 4em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
.sc_events_detailed .sc_events_item_date_wrap {
	border-right: 1px solid #efa758;
	width: 17%;
}
.sc_events_detailed .sc_events_item_title_wrap {
	width: 48%;
}
.sc_events_detailed .sc_events_item_time_wrap {
	width: 19%;
}
.sc_events_detailed .sc_events_item_button_wrap {
	width: 16%;
}
.sc_events_detailed .sc_events_item_time_wrap:before,
.sc_events_detailed .sc_events_item_button_wrap:before {
	content:' ';
	display:block;
	border-right: 2px solid #efa758;
	position:absolute;
	width: 0;
	height: 1em;
	left:0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.sc_events_detailed .sc_events_item_date,
.sc_events_detailed .sc_events_item_time,
.sc_events_detailed .sc_events_item_title,
.sc_events_detailed .sc_events_item_button {
	display:block;
	white-space: normal;
	position:absolute;
	left:0;
	top: 50%;
	width: 100%;
	height:auto;
	min-height:0;
	max-height:none;
	max-width:none;
	padding: 0 1.5em;
	font-size:1em;
	line-height:1.3em;
	background-color:transparent;
	text-align:left;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.sc_events_detailed .sc_events_item_time,
.sc_events_detailed .sc_events_item_button {
	padding: 0 1em;
}
.sc_events_detailed .sc_events_item_button:before,
.sc_events_detailed .sc_events_item_button:after {
	display:none;
}
.sc_events_detailed .sc_events_item:hover {
	background-color:#efa758;
	color: #fff;
}
.sc_events_detailed .sc_events_item:hover .sc_events_item_time_wrap:before,
.sc_events_detailed .sc_events_item:hover .sc_events_item_button_wrap:before {
	border-color: #fff;
}