/* Essential Grid styles
----------------------------------------------------------------- */

.flat-light .esg-filters .esg-sortbutton-order,
.flat-light .esg-filters .esg-cartbutton-order {
	line-height:36px;
	margin:0;
}
.flat-light .esg-filters .esg-sortbutton {
	padding-right: 0;
}




.esg-grid .eg-item-skin-blog-element-10{
    letter-spacing: 0.2em !important;
}
.esg-grid .eg-item-skin-video-3-element-0-a{
    -webkit-transform: translateY(-50%) !important;
    -moz-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    top: 45% !important;
}

@media (max-width: 639px) {

    .esg-grid .eg-item-skin-video-3-element-10 {
        display: none;
    }

    .esg-grid .eg-item-skin-video-3-element-3 {
        font-size: 15px !important;
    }
}

@media (max-width: 479px) {

    .esg-grid li.eg-item-skin-video-3-wrapper .eg-item-skin-video-3-element-3 {
        font-size: 13px !important;
        line-height: 1.2;
    }

    .esg-grid li.eg-item-skin-video-3-wrapper .eg-item-skin-video-3-element-0 {
        font-size: 13px !important;
        line-height: 18px !important;
        padding: 5px !important;
    }

    .esg-grid li.eg-item-skin-blog-wrapper .eg-item-skin-blog-element-3 {
        font-size: 20px;
        line-height: 1.2;
    }

    .esg-grid li.eg-item-skin-blog-wrapper .eg-item-skin-blog-element-10 {
        font-size: 12px;
        line-height: 1.2;
    }
}

.esgbox-toolbar .esgbox-button.esgbox-button--fullscreen {
    display: none;
}

.esgbox-share .esgbox-share__button,
.esgbox-close-small:after {
    color: #fff;
}

.esgbox-share .esgbox-share__button:hover {
    background-color: #dba860;
    color: #fff;
}

.esgbox-close-small:after {
    width: 23px !important;
}

.esgbox-share .esgbox-close-small:hover:after {
    background: none;
}

.esg-grid a {
    color: #ffffff !important;
}
.esg-grid a .eg-icon-play {
    color: #dcab68 !important;
}