/* MailChimp for WP styles
----------------------------------------------------------------- */
.mc4wp-form {
	position:relative;
}
.mc4wp-form .mc4wp-form-fields input[type="email"] {
	width: 100%;
	vertical-align:top;
}
.mc4wp-form .mc4wp-form-fields input[type="submit"] {
	position: absolute;
	z-index:1;
	right: 0;
	top: 0;
	max-width:9.5em;
	padding: 1.6em 2.1em;
	vertical-align:top;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
.mc4wp-form .mc4wp-form-fields input[type="email"],
.mc4wp-form .mc4wp-form-fields input[type="submit"] {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

.mc4wp-form .mc4wp-alert {
	margin: 0;
	padding-top: 1em;
}



/* Mail Chimp */
.mailchimp_form .mailchimp_inputs{
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}
.mailchimp_form input[type="email"],
.mailchimp_form button{
    height: 3.92rem;
}
body .mailchimp_form input[type="email"] {
    width: 30.571rem;
    min-width: 3rem;
    margin-right: 0;
    line-height: inherit;
    border: none !important;
    padding: 1em 2.6em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.mailchimp_form input[type="email"] + button{
    margin-left: 0;
}
.mailchimp_form button{
    padding: 1em 3.3em;
    white-space: nowrap;
    width: auto;
    font-size: 0.929rem;
    border: 2px solid;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.mailchimp_form input[type="checkbox"] {
    display: inline-block;
    margin-right: 10px;    
}

.mailchimp_form .terms_agree {
    margin-top: 1em;
}

@media (max-width: 768px) {

    .mc4wp-form .mc4wp-form-fields input[type="email"] {
        padding: 1em 1em;
        min-width: 2rem;
        width: auto;
    }

    .mailchimp_form button {
        padding-left: 1.7em;
        padding-right: 1.7em;
    }
}