/* WPBakery Page Builder styles
----------------------------------------------------------------- */
.vc_row.vc_parallax[class*="scheme_"] .vc_parallax-inner:before {
	content: ' ';
	position:absolute;
	z-index:1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.vc_row .wpb_column:not(.vc_col-sm-12) blockquote {
	margin: 0;
}

/* Row and Columns */
.vc_col-sm-12 {
	min-height:0;
}
.vc_row.vc_row-o-full-height {
    min-height: 100vh !important;
}
.vc_row.vc_parallax[class*="scheme_"] .vc_parallax-inner:before {
	content: ' ';
	position:absolute;
	z-index:1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.vc_row .wpb_column:not(.vc_col-sm-12) blockquote {
	margin: 0;
}
.vc_col-has-fill > .vc_column-inner,
.vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner,
.vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner,
.vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner,
.vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner,
.vc_row-has-fill > .vc_column_container > .vc_column-inner,
.vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner,
.vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner {
	padding-top: 0 !important;
}


/* Panels */
.vc_tta.vc_general .vc_tta-panels .vc_tta-panel-body {
	padding:2.4em 0;
}
.vc_tta.vc_general .vc_tta-panels .vc_tta-panel-body p {
	margin-bottom: 0;
}
.vc_tta.vc_general .vc_tta-panels .vc_tta-panel-body p + p {
	margin-top: 1em;
}

/* Accordion */
.vc_tta.vc_tta-accordion .vc_tta-panel-body,
.vc_tta.vc_tta-accordion .vc_tta-panel-heading {
	border: none !important;
	background: transparent !important;
}
.vc_tta.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading, .vc_tta.vc_tta-style-classic .vc_tta-panel:not(:last-child) .vc_tta-panel-heading, .vc_tta.vc_tta-style-modern .vc_tta-panel.vc_active .vc_tta-panel-heading, .vc_tta.vc_tta-style-modern .vc_tta-panel:not(:last-child) .vc_tta-panel-heading {
	margin-bottom: 1.6em;
}
.vc_tta.vc_tta-style-classic .vc_tta-panel.vc_active + .vc_tta-panel .vc_tta-panel-heading, .vc_tta.vc_tta-style-classic .vc_tta-panel:not(:first-child) .vc_tta-panel-heading {
	margin-top:1.6em;
}
.vc_tta.vc_tta-accordion .vc_tta-panel-title {
	font-size: 1em;
	line-height: 1.3em;
}
.vc_tta.vc_tta-accordion .vc_tta-panel-title .vc_tta-title-text {
	font-size: 1.0667em;
	line-height: 1.3em;
	text-transform:uppercase;
}
.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-left.vc_tta-panel-title > a {
	padding-left: 4.2em;
}
.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-right.vc_tta-panel-title > a {
	padding-right: 4.2em;
	padding-left:0;
}
.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-left.vc_tta-panel-title > a > .vc_tta-controls-icon {
	left:0;
}
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-right.vc_tta-panel-title > a > .vc_tta-controls-icon,
.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon-position-right.vc_tta-panel-title > a > .vc_tta-controls-icon {
	right:0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.vc_tta.vc_tta-accordion .vc_tta-panel-heading .vc_tta-controls-icon {
	width: 2.6667em;
	height: 2.6667em;
	-webkit-transition: all ease .3s;
	   -moz-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	     -o-transition: all ease .3s;
	        transition: all ease .3s;
}
.vc_tta.vc_tta-accordion.vc_tta-shape-rounded .vc_tta-panel-heading .vc_tta-controls-icon {
	border-radius: 5px;
}
.vc_tta.vc_tta-accordion.vc_tta-shape-round .vc_tta-panel-heading .vc_tta-controls-icon {
	border-radius: 50%;
}
.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left .vc_tta-controls-icon {
	left: 0;
}
.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-right .vc_tta-controls-icon {
	right: 0;
}
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-controls-icon.vc_tta-controls-icon-minus:before,
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-controls-icon.vc_tta-controls-icon-plus:before,
.vc_tta.vc_tta-accordion .vc_tta-controls-icon.vc_tta-controls-icon-minus:before,
.vc_tta.vc_tta-accordion .vc_tta-controls-icon.vc_tta-controls-icon-plus:before {
	left:50%;
	right: auto;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 9px;
	border-width: 1px 0 0 0;
}
.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-controls-icon.vc_tta-controls-icon-plus:after,
.vc_tta.vc_tta-accordion .vc_tta-controls-icon.vc_tta-controls-icon-plus:after {
	top:50%;
	bottom: auto;
	border-width: 0 0 0 1px;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	height: 9px;
}
.vc_tta.vc_tta-accordion .vc_tta-panel:not(.vc_active) + .vc_tta-panel {
	margin-top: 1.6em;
}

.wpb-js-composer .vc_tta.vc_tta-spacing-1 .vc_tta-tab {
    margin: 0;
}

/* Tabs */
.vc_tta.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a {
	background-color:transparent;
	border: none;
	padding: 0.6em 1.8em 0.3em; 
}
.vc_tta.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab + .vc_tta-tab {
	margin-left: 0.8em;
}


/* Separator */
.vc_separator {
	margin-top: 3.3334em;
	margin-bottom: 5em !important;
}

/* Progress bar */
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar {
	box-shadow:none;
	border-radius:0;
	height: 4px;
	margin-top: 1.4em;
}
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar .vc_bar {
	height: 4px;
	border-radius:0;
}
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar + .vc_single_bar {
	margin-top: 3.3em;
}
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar .vc_label {
	position:absolute;
	font-size:1.0667em;
	font-weight:400;
	font-style:normal;
	top: -1.625em;
	padding:0;
	line-height:1.5em;
	text-shadow:none;
	display:block;
	width:100%;
}
.vc_progress_bar.vc_progress_bar_narrow .vc_single_bar .vc_label .vc_label_units {
	position:absolute;
	z-index:1;
	top:1px;
	right: 0;
	font-style:italic;
	font-size: 0.875em;
}

/* Message Box */
.vc_message_box {
	padding:1.4em 0.875em 1.4em 4.9em;
}
.vc_message_box-solid-icon {
	padding-left: 7em;
}
.vc_message_box-icon {
	width: 4.5em;
}
.vc_message_box .vc_message_box-icon > * {
	font-size: 1.8em;
}
.vc_message_box-solid-icon .vc_message_box-icon {
	width: 5em;
	font-weight: 400;
	font-size: 1em;
}
.vc_message_box:not(.vc_message_box-solid-icon) .vc_message_box-icon > * {
	left:auto;
	right:0.6em;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.vc_message_box-outline .vc_message_box-icon i  {												color: inherit; }
.vc_color-juicy_pink.vc_message_box-outline, .vc_color-juicy_pink.vc_message_box-solid-icon {	color: #f4524d; }
.vc_color-orange.vc_message_box-outline, .vc_color-orange.vc_message_box-solid-icon { 			color: #e39a31; }
.vc_color-vista_blue.vc_message_box-outline .vc_message_box-icon, .vc_color-vista_blue.vc_message_box-solid-icon .vc_message_box-icon i,
.vc_color-vista_blue.vc_message_box-outline, .vc_color-vista_blue.vc_message_box-solid-icon {	color: #9dbf00; }
.vc_color-vista_blue.vc_message_box-outline, .vc_color-vista_blue.vc_message_box-solid-icon {	border-color: #9dbf00; }
.vc_color-vista_blue.vc_message_box-solid-icon .vc_message_box-icon i {							background-color: #9dbf00; }

.vc_message_box_closeable {
	position:relative;
}
.vc_message_box_closeable:after {
	content: '\e8ac';
	font-family:'fontello';
	font-size: 1.5em;
	line-height: 1em;
	font-weight:400;
	padding:1em;
	color: inherit;
	cursor:pointer;
	position:absolute;
	top: 50%;
	right: 0;
	-webkit-transform:translateY(-50%);
	   -moz-transform:translateY(-50%);
	    -ms-transform:translateY(-50%);
	        transform:translateY(-50%);
}

/* Text block after slider or video */
.wpb_text_column[class*="scheme_"] {
	padding: 2rem 2.4rem;
}
.wpb_text_column h1:first-child,
.wpb_text_column h2:first-child,
.wpb_text_column h3:first-child,
.wpb_text_column h4:first-child,
.wpb_text_column h5:first-child,
.wpb_text_column h6:first-child {
	margin-top:0;
}

/* Google maps */
.wpb_gmaps_widget .wpb_wrapper {
	padding:0;
}